@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.toggle {
	display: flex;
	gap: 8px;
	justify-content: space-between;
	width: 100%;
}
.option {
	border: 1px solid $gray;
	padding: 8px 0;
	border-radius: 100px;
	background: transparent;
	cursor: pointer;
	transition: all 0.2s ease;
	font-size: 10px;
	line-height: 10px;
	margin: 0;
	text-transform: uppercase;
	font-weight: bold;
	width: calc(100% / 3);

	&.active {
		background: $blue;
		color: $white;
		border: 1px solid transparent;
	}
	@include respond-to(lg) {
		font-size: 12px;
		line-height: 12px;
		width: 150px;
		padding: 12px 0;
	}
}
