@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	justify-content: space-between;
	width: 100%;
}
.navTop {
	width: 100%;
	max-width: 500px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.navTopButton {
	border: none;
	background-color: transparent;
	display: flex;
	align-items: center;
	gap: 15px;
	text-align: left;
	border-bottom: 1px solid $gray;
	padding-bottom: 10px;
	cursor: pointer;

	svg {
		width: 40px;
		height: 40px;
		padding: 9px;
		background-color: $white;
		border-radius: 50%;
		border: 1px solid $gray;
	}
	span {
		display: flex;
		flex-direction: column;
		font-size: 14px;
		line-height: 18px;
		width: calc(100% - 60px);

		@include respond-to(lg) {
			font-size: 16px;
			line-height: 20px;
		}
	}
}
.navPdf {
	display: flex;
	flex-direction: column;
	gap: 20px;
	background-color: $white;
	border-radius: $radius;
	box-shadow: $shadow;
	max-width: 500px;
}
.navPdfInner {
	display: flex;
	justify-content: center;
	gap: 20px;
	padding-top: 20px;

	svg {
		width: 36px;
	}
	p {
		margin: 0;
		width: calc(100% - 120px);
		display: flex;
		flex-direction: column;
		gap: 5px;
		font-size: 13px;
		line-height: 16px;

		strong {
			font-size: 16px;
			line-height: 20px;
		}
	}
}
.navBottom {
	width: 100%;
	display: flex;
	justify-content: space-between;

	&.centered {
		justify-content: center;
	}
}
.navButton {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: $white;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid $gray;
	box-shadow: $shadow;
	transition: opacity 0.2s ease;
}
.navButtonAlt,
.navButtonBig {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border: none;
	border-radius: 100px;
	font-size: 20px;
	line-height: 20px;
	background-color: $red;
	color: $white;
	padding: 10px 30px;
	transition: opacity 0.2s ease;
	font-weight: bold;
	font-family: "Polaris Condensed Bold";
	cursor: pointer;

	&.disabled {
		opacity: 0.2;
		pointer-events: none;
	}
}
.navButtonBig {
	border-radius: 0 0 20px 20px;
}
.popup {
	background-color: rgba($black, 0.95);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease;
	z-index: 9999999999;

	&.active {
		opacity: 1;
		pointer-events: all;
	}
}
.popupInner {
	background-color: $white;
	padding: 30px;
	border-radius: $radius;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;
	width: 90%;
	max-width: 380px;
}
.popupText {
	width: 100%;
	min-height: 200px;
	border: 1px solid $gray;
	background-color: transparent;
	border-radius: $radius;
	padding: 10px;
	font-size: 13px;
	line-height: 18px;
	resize: none;
	box-sizing: border-box;
}
.popupBottom {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;

	.navButtonAlt {
		width: 100%;

		&:last-child {
			@include respond-to(md) {
				display: none;
			}
		}
	}
}
