@use "../../../styles/variables" as *;

.slider {
	background-color: $blue;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba($black, 0.05);
}
.slide {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 320px;
	padding: 10px;
}
.slideWrapper {
	color: $white;
	width: 100%;
	max-width: 250px;
	height: 330px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 20px;

	strong {
		font-size: 20px;
		line-height: 24px;
	}
	span {
		font-size: 14px;
		line-height: 18px;
	}
}
