@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.themes {
	display: grid;
	grid-template-columns: 1fr;
	gap: 10px;

	@include respond-to(lg) {
		grid-template-columns: 1fr 1fr;
		gap: 15px;
	}
}
