@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.foodList {
	display: flex;
	flex-direction: column;
	gap: 20px;

	@include respond-to(lg) {
		gap: 30px;
	}
}
.foodHeader {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 15px;

	@include respond-to(lg) {
		gap: 40px;
	}
}
.foodHeaderTop {
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-bottom: 10px;

	h2 {
		font-size: 20px;
		line-height: 24px;
		font-family: "Polaris Condensed Bold";

		@include respond-to(lg) {
			font-size: 32px;
			line-height: 36px;
		}
	}
}
.foodHeaderBottom {
	p {
		font-size: 14px;
		line-height: 18px;

		a {
			text-decoration: underline;
			text-underline-offset: 2px;
			text-decoration-thickness: 1px;
			transition: 0.3s ease;

			&:hover {
				color: $blue;
			}
		}
		@include respond-to(lg) {
			font-size: 18px;
			line-height: 20px;
		}
	}
}
.foodListWrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.foodSection {
}
.checkboxes {
	border-top: 1px solid $white;
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding-top: 15px;
	margin-top: 15px;
}
.checkbox {
	display: inline-flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
	font-size: 14px;
	line-height: 14px;
	transition: background 0.2s;
	min-height: 20px;

	input[type="checkbox"] {
		display: none;

		&:checked {
			& + span::before {
				background-color: $white;
				background-size: 10px;
				background-position: center;
				background-repeat: no-repeat;
				background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8684 0.365983C11.3564 0.854108 11.3564 1.64536 10.8684 2.13348L4.61839 8.38348C4.13027 8.87146 3.33901 8.87146 2.85089 8.38348L0.35089 5.88348C-0.122825 5.39301 -0.11605 4.61338 0.366117 4.13121C0.848284 3.64904 1.62792 3.64227 2.11839 4.11598L3.73464 5.73223L9.10089 0.365983C9.58902 -0.121994 10.3803 -0.121994 10.8684 0.365983Z' fill='black'/%3E%3C/svg%3E%0A");
			}
			& + span strong {
				text-decoration: line-through;
				text-decoration-thickness: 2px;
			}
		}
	}
	span {
		display: flex;
		flex-direction: column;
		gap: 0px;
		position: relative;
		padding-left: 35px;

		&::before {
			content: "";
			position: absolute;
			top: -2px;
			left: 0;
			display: block;
			width: 20px;
			height: 20px;
			border-radius: 6px;
			border: 1px solid $white;
			background-color: transparent;
		}
		strong {
			font-size: 14px;
			line-height: 18px;

			@include respond-to(lg) {
				font-size: 16px;
				line-height: 20px;
			}
		}
		small {
			font-size: 12px;
			line-height: 16px;

			@include respond-to(lg) {
				font-size: 14px;
				line-height: 18px;
			}
		}
	}
}

.foodListAltWrapper {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.foodSectionAlt {
}
.foodSectionAltHeader {
	border-bottom: 1px solid $blue;
	padding: 0 0 12px 0;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	flex-direction: column;
	gap: 4px;

	h3 {
		font-size: 16px;
		line-height: 20px;
	}
	strong {
		color: $blue;
	}
}
.foodSectionAltWrapper {
	display: flex;
	flex-direction: column;
}
.foodSectionAltItem {
	border-bottom: 1px solid $blue;
	padding: 8px 0 6px;
	font-size: 12px;
	line-height: 14px;
	display: flex;
	flex-direction: column;
	gap: 4px;

	h4 {
		font-size: 12px;
		line-height: 16px;
	}
	strong {
		color: $blue;
	}
}
