@use "../../../styles/variables" as *;

.foodList {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.foodHeader {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	text-align: center;

	h2 {
		max-width: 300px;
		font-size: 20px;
		line-height: 24px;
	}
	p {
		font-size: 14px;
		line-height: 18px;
		max-width: 300px;
	}
}
.foodListWrapper {
	overflow: hidden;
	transition: max-height 0.8s ease !important;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 15px;
}



.foodSection {
	background-color: $white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba($black, 0.05);
}


.checkboxes {
	border-top: 1px solid rgba($gray, 0.3);
	display: flex;
   flex-direction: column;
	gap: 20px;
	padding-top: 15px;
	margin-top: 15px;
}
.checkbox {
	display: inline-flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
	font-size: 14px;
	line-height: 14px;
	transition: background 0.2s;

	input[type="checkbox"] {
		display: none;

		&:checked {
			& + span::before {
				background-color: $blue;
				border: 1px solid transparent;
				background-size: 10px;
				background-position: center;
				background-repeat: no-repeat;
				background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8684 0.365983C11.3564 0.854108 11.3564 1.64536 10.8684 2.13348L4.61839 8.38348C4.13027 8.87146 3.33901 8.87146 2.85089 8.38348L0.35089 5.88348C-0.122825 5.39301 -0.11605 4.61338 0.366117 4.13121C0.848284 3.64904 1.62792 3.64227 2.11839 4.11598L3.73464 5.73223L9.10089 0.365983C9.58902 -0.121994 10.3803 -0.121994 10.8684 0.365983Z' fill='white'/%3E%3C/svg%3E%0A");
			}
			& + span strong {
				text-decoration: line-through;
			}
		}
	}
	span {
		display: flex;
		flex-direction: column;
		gap: 2px;
		position: relative;
		padding-left: 35px;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 22px;
			height: 22px;
			border-radius: 50%;
			border: 1px solid $gray;
         background-color: transparent;
         transition: background-color 0.3s ease;
		}
		strong {
			font-size: 14px;
			line-height: 18px;
		}
		small {
			font-size: 12px;
			line-height: 16px;
		}
	}
}
