@use "./variables" as *;
@use "./mixins" as *;

.text {
	p {
		font-size: 14px;
		line-height: 18px;

		a {
			text-decoration: underline;
			text-underline-offset: 2px;
			text-decoration-thickness: 1px;
			transition: 0.3s ease;

			&:hover {
				color: $blue;
			}
		}
		@include respond-to(lg) {
			font-size: 18px;
			line-height: 20px;
		}
	}
}
