// COLORS
$black: #1a1a1a;
$white: #ffffff;
$blue: #009FE3;
$lightblue: #F4FBFF;
$red: #BA0050;
$gray: #94A3B8;
$lightgray: #F8FAFC;
$orange: #F59E0B;

// FONTS
$font: "base-font", sans-serif;

// SPACING
$spacer: 20px;

// CUBIC
$cubic: cubic-bezier(0.22, 1, 0.36, 1);
