@use './reset.scss';
@use './variables.scss' as *;
@use './mixins.scss' as *;
@use './typography.scss';
@use './animations.scss';

body {
   background-color: $black;
   color: $white;
   font-family: $font;
}




.step {
   border: 1px solid red;
}