@use './reset.scss';
@use './variables.scss' as *;
@use './mixins.scss' as *;
@use './typography.scss';
@use './animations.scss';

// shared styles
@use './step.scss';


body {
   font-family: $font;
}




.swiper-button-prev,
.swiper-button-next {
   svg {
      display: none !important;
   }
}

.swiper-button-prev {
   background-image: url("data:image/svg+xml,%3Csvg width='10' height='17' viewBox='0 0 10 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.29985 15.3497L1.25001 8.29987' stroke='white' stroke-width='2.5' stroke-linecap='round'/%3E%3Cpath d='M8.29984 1.25L1.25 8.29984' stroke='white' stroke-width='2.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: center;
}

.swiper-button-next {
   background-image: url("data:image/svg+xml,%3Csvg width='10' height='17' viewBox='0 0 10 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.25 1.25002L8.29984 8.29987' stroke='white' stroke-width='2.5' stroke-linecap='round'/%3E%3Cpath d='M1.25 15.3497L8.29984 8.29989' stroke='white' stroke-width='2.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: center;
}
