@use '../../styles/variables.scss' as *;

.summary {
   display: none;
}
@media print {
   .summary {
      display: block;
      ul {
         h2 {
            font-size: 50px;
         }
      }

   }
}