@use "../../../styles/variables" as *;

.label {
	position: absolute;
	top: 0;
	right: 0;
   display: block;
   font-weight: bold;
   padding: 6px 10px;
   border-radius: 100px;
   font-size: 12px;
   line-height: 12px;

   &.blue {
      background-color: $lightblue;
      color: $white;
   }
   &.green {
      background-color: #DCFCE7;
      color: #15803D;
   }
   &.yellow {
      background-color: #FEF9C3;
      color: #A16207;
   }
   &.orange {
      background-color: #FFF7ED;
      color: #F59E0B;
   }
   &.red {
      background-color: #FEF2F2;
      color: #C20048;
   }
}
