@use '../../styles/variables' as *;

.nav {
   display: flex;
   justify-content: space-between;
   width: 100%;
}
.navButton {
   border: none;
   background-color: transparent;
   color: $white;
   font-weight: bold;
   padding: 4px 15px;
   border-radius: 100px;
   cursor: pointer;
   transition: opacity 0.2s ease;

   &.inactive {
      pointer-events: none;
      opacity: 0;
   }
}
