@use "../../styles/variables" as *;
@use "../../styles/animations" as *;

.step {
   width: 100%;
   border: 1px solid $white;
   border-radius: 30px;
   padding: 30px;
   opacity: 0;
   animation: fadeRight 1s $cubic forwards;
}
.title {
   margin-bottom: 20px;
}
.stepColumns {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 30px;
}
.missingItems {
   list-style: disc;

   h3 {
      margin-bottom: 20px;
   }
   li {
      margin-bottom: 5px;
      margin-left: 15px;
      padding-left: 10px;
   }
}