@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.radios {
	display: grid;
	grid-template-columns: 1fr;
	align-items: flex-start;
	gap: 10px;

	@include respond-to(lg) {
		grid-template-columns: 1fr 1fr;
		gap: 15px;
	}
}
.radiosItem {
	background-color: $white;
	padding: 15px 20px;
	transition: 0.3s ease;
	border-radius: $radius;
	box-shadow: $shadow;
	border: 1px solid $gray;

	&.active {
		background-color: $blue;
		color: $white;
		border-color: transparent;

		.radioButton {
			svg {
				background-color: $white;
			}
		}
	}
}
.radioMain {
	display: none;
}
.radioButton {
	display: flex;
	gap: 20px;
	align-items: center;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	cursor: pointer;

	svg {
		width: 50px;
		height: 50px;
		background-color: transparent !important;

		@include respond-to(lg) {
			width: 70px;
			height: 70px;
		}
	}
}
.radioSub {
	border-top: 1px solid $white;
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	padding-top: 15px;
	margin-top: 15px;

	@include respond-to(lg) {
		gap: 20px;
	}
}
.radioSubItem {
	width: 100%;
	display: inline-flex;
	align-items: center;
	gap: 8px;
	color: $white;
	cursor: pointer;
	font-size: 14px;
	line-height: 14px;
	transition: background 0.2s;

	input[type="checkbox"] {
		display: none;
	}

	span {
		display: inline-flex;
		align-items: center;
		gap: 10px;

		&::before {
			content: "";
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 20px;
			height: 20px;
			border: 1px solid $white;
			border-radius: 5px;
			margin-top: -2px;
			background-color: transparent;
			transition: background-color 0.3s ease;
		}
		small {
			font-size: 14px;
			line-height: 18px;
			width: calc(100% - 30px);
		}
	}
	input:checked + span::before {
		background-size: 10px;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8684 0.365983C11.3564 0.854108 11.3564 1.64536 10.8684 2.13348L4.61839 8.38348C4.13027 8.87146 3.33901 8.87146 2.85089 8.38348L0.35089 5.88348C-0.122825 5.39301 -0.11605 4.61338 0.366117 4.13121C0.848284 3.64904 1.62792 3.64227 2.11839 4.11598L3.73464 5.73223L9.10089 0.365983C9.58902 -0.121994 10.3803 -0.121994 10.8684 0.365983Z' fill='white'/%3E%3C/svg%3E%0A");
	}
	&.alt {
		&:nth-child(1),
		&:nth-child(2) {
			width: calc(50% - 10px);
			padding-bottom: 15px;
		}
		&:nth-child(1) {
			position: relative;

			&::before {
				content: "";
				width: calc(200% + 20px);
				height: 1px;
				position: absolute;
				bottom: 0px;
				left: 0;
				background: $white;
			}
		}
	}
}
