@use "../../../styles/variables" as *;

.radios {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.radiosItem {
	background-color: $white;
	border-radius: 10px;
	padding: 20px;
	transition: 0.3s ease;
	box-shadow: 0 4px 10px rgba($black, 0.05);

	&.active {
		background-color: $blue;
		color: $white;

		.radioButton {
			svg {
				background-color: $white;
			}
		}
	}
}
.radioMain {
	display: none;
}
.radioButton {
	display: flex;
	gap: 20px;
	align-items: center;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
   cursor: pointer;

	svg {
		width: 50px;
		height: 50px;
		transition: 0.3s ease;
		background-color: rgba($blue, 0.1);
		border-radius: 50%;
	}
}
.radioSub {
	border-top: 1px solid $white;
	display: flex;
   flex-direction: column;
	gap: 20px;
	padding-top: 15px;
	margin-top: 15px;
}
.radioSubItem {
	display: inline-flex;
	align-items: center;
	gap: 8px;
	color: $white;
	cursor: pointer;
	font-size: 14px;
	line-height: 14px;
	transition: background 0.2s;

	input[type="checkbox"] {
		display: none;
	}

	span {
		display: inline-flex;
		align-items: center;
		gap: 8px;

		&::before {
			content: "";
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 18px;
			height: 18px;
			border-radius: 50%;
         background-color: $white;
         transition: background-color 0.3s ease;
		}
	}
	input:checked + span::before {
		background-color: transparent;
		border: 1px solid $white;
      background-size: 10px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8684 0.365983C11.3564 0.854108 11.3564 1.64536 10.8684 2.13348L4.61839 8.38348C4.13027 8.87146 3.33901 8.87146 2.85089 8.38348L0.35089 5.88348C-0.122825 5.39301 -0.11605 4.61338 0.366117 4.13121C0.848284 3.64904 1.62792 3.64227 2.11839 4.11598L3.73464 5.73223L9.10089 0.365983C9.58902 -0.121994 10.3803 -0.121994 10.8684 0.365983Z' fill='white'/%3E%3C/svg%3E%0A");
	}
}
